<li class="userSearchResult">
	<div class="row">
  	<div class="col-sm-3">
  		<a href="/users/<%= user.id %>">
  			<img class="userPhoto" src="https://graph.facebook.com/<%= user.uid %>/picture?width=150&height=150" alt="" />
  		</a>
  	</div>
  	<div class="col-sm-9">
    	<%= link_to user do %>
    		<h4><%= user.name.to_s %></h4>
    	<% end %>
    	<div class="userInfo">
    		<dt>Education</dt>
    		<dd class="<%= "text-muted" if !user.university %>">
    			<%= user.university if user.university %>
    			<%= "No school given" if !user.university %>
    			<span> - </span>
    			<%= user.grad_year if user.grad_year %>
    			<%= "No grad year given." if !user.grad_year %>
    		</dd>
				<dt>Work</dt>
				<dd class="<%= "text-muted" if !user.company %>">
					<%= user.company if user.company %>
					<%= "No company given" if !user.company %>
					<span> - </span>
    			<%= user.occupation if user.occupation %>
    			<%= "No role given" if !user.occupation %>
				</dd>
			</div>
			<br/>
			<%= 
				render(:partial => 'facepile', 
					:locals => {
						:friends_in_common => @friends_in_common[user.id]
					}) 
			%>
			<div class="actionButtons row">
				<div class="col-sm-4">
					<%= link_to raw('<i class="glyphicon glyphicon-comment"></i> &nbsp; Send Message'), "#", class: "btn btn-primary btn-sm btn-block" %>
				</div>
				<div class="col-sm-4">
					<% friend_request = current_user.roomidex_requests.find_by_receiver_id(user.id) %>
					<%= render(
						:partial => 'application/roomidex_button', 
						:locals => {
							:user => user,
							:request => current_user.roomidex_requests.find_by_receiver_id(user.id)
						}) %>
				</div>
			</div>
    </div>
  </div>
</li>