<section class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<%= error_messages_for(@user) %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 well">
			<h1>Edit your profile</h1>
			<%= form_for(@user, :html => { class: :form } ) do |f| %>
			  <div class="form-group">
				  <%= f.label :email %>
				  <%= f.text_field :email, class: "form-control" %>
				</div>
				<div class="form-group">
				  <%= f.label :age %>
				  <%= f.text_field :age, class: "form-control" %>
				</div>
			  <div class="form-group">
				  <%= f.label :gender %>
				  <%= f.text_field :gender, class: "form-control" %>
				</div>
			  <div class="form-group">
				  <%= f.label :university %>
				  <%= f.text_field :university, class: "form-control" %>
				</div>
			  <div class="form-group">
				  <%= f.label :grad_year %>
				  <%= f.text_field :grad_year, class: "form-control" %>
				</div>
			  <div class="form-group">
				  <%= f.label :occupation %>
				  <%= f.text_field :occupation, class: "form-control" %>
			  </div>
			  <div class="form-group">
				  <%= f.label :company %>
				  <%= f.text_field :company, class: "form-control" %>
				</div>
			  <br />
			  <%= f.submit "Save Changes", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-3 well">
			<h1>Edit your move</h1>
			<%= simple_form_for(@user, :html => { class: :form } ) do |u| %>
				<%= u.fields_for :move do |m| %>
				<div class="form-group">
					<%= m.label :start_date %>
					<%= m.date_field :start_date, class: "form-control" %>
				</div>
				<div class="form-group">
					<%= m.label :end_date %>
					<%= m.date_field :end_date, class: "form-control" %>
				</div>
				<div class="form-group">
					<%= m.label :min_price %>
					<%= m.text_field :min_price, class: "form-control" %>
				</div>
				<div class="form-group">
					<%= m.label :max_price %>
					<%= m.text_field :max_price, class: "form-control" %>
				</div>
				<div class="form-group" id="citySelect">
					<%= m.association :city, class: "form-control" %>
				</div>

				<% City.all.each do |city| %>
					<div class="neighborhoodCheckboxContainer" data-city-id="<%= city.id %>">
						<%= m.association :neighborhoods, as: :check_boxes, 
							collection: 
								Neighborhood.joins(:city)
									.where("cities.name = ?", city.name)
									.order(name: :asc) 
						%>
					</div>
				<% end %>

				<% end %>

				<%= u.submit "Save Changes", class: "btn btn-primary" %>
			<% end %>
		</div>

	</div>
</section>
