<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<%= search_form_for @search, class: "form userSearchForm" do |f| %>
				<%= render(:partial => 'user_search_form', :locals => {:f => f}) %>
			<% end %>
			<br/>
			<br/>
			<div class="well well-sm">
				<h4>Sort Results</h4>
				<p><%= sort_link @search, :name, "Name" %></p>
				<p><%= sort_link @search, :age, "Age" %></p>
			</div>
		</div>
		<div class="col-sm-9">
			<ul class="users">
			<% @users.each do |user| %>
		    <%= render(:partial => 'user_search_result', :locals => {:user => user}) %>
			<% end %>
			</ul>
		</div>
	</div>
</div>
