<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Age: <%= @user.age if @user.age %></p>
<p>Gender: <%= @user.gender if @user.gender %></p>
<p>University: <%= @user.university if @user.university %></p>
<p>Graduation Year: <%= @user.grad_year if @user.grad_year %></p>
<p>Company: <%= @user.company if @user.company %></p>
