<div class="container">
	<div class="row headerRow">
		<div class="col-sm-3 col-md-2 col-lg-2">
			<img src="https://graph.facebook.com/<%= @user.uid %>/picture?width=150&height=150" alt="" class="profilePhoto" />
		</div>
		<div class="col-sm-9 col-md-10 col-lg-10 titleInfo">
			<h1><%= @user.name %></h1>
			<%= 
				render(:partial => 'facepile', 
				:locals => {
					:friends_in_common => @friends_in_common
				}) if current_user != @user 
			%>
			<% if @user.move %>
				<h4><%= @user.move.min_price %> - <%= @user.move.max_price %></h4>
				<h4><%= @user.move.start_date %> - <%= @user.move.end_date %></h4>
			<% else %>
				<p class="text-danger"><%= "This person is not currently moving." %></p>
			<% end %>
			<div class="actionButtons row">
				<div class="col-sm-3">
					<%= link_to raw('<i class="glyphicon glyphicon-comment"></i> &nbsp; Send Message'), "#", class: "btn btn-primary btn-sm btn-block" %>
				</div>
				<div class="col-sm-3">
					<% friend_request = RoomidexRequest.get_edge(current_user.id, @user.id) %>
					<%= render(
						:partial => 'application/roomidex_button', 
						:locals => {
							:user => @user,
							:request => friend_request
						}) %>
				</div>
			</div>
				<!-- &nbsp; Response Rate: <span class="text-success">100%</span> -->
		</div>
	</div>
	<div class="row">
		<%= render 'user_info_panels' %>
		<!-- 
		<div class="col-sm-7 col-lg-8">
			<div class="row">
				<div class="col-sm-12">
					<div class="well clearfix">
						<form class="form">
							<p>Your Roomidex connections will see your posts in their feed or on your profile.</p>
							<div class="form-group">
								<textarea class="form-control" placeholder="Share a cool place, or tell people about your room."></textarea>
							</div>
							<div class="form-group">
								<button class="btn btn-primary pull-right btn-sm" type="submit">Post</input>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7">
					<h4 class="text-muted">You have not posted anything.</h4>
				</div>
			</div>
		</div>
		-->
	</div>
</div>
